@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 5rem;
}

em {
  @apply bg-blue-400;
}

::-webkit-scrollbar {
  @apply w-4;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-yellow-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-blue-400 rounded-2xl hover:bg-blue-600;
}

.main {
  min-height: calc(100vh - var(--header-height));
}

.input-container {
  @apply flex justify-center items-center w-full  gap-5;
}

.bg-gradient {
  @apply bg-gradient-to-b from-yellow-400 to-yellow-300;
}

.fade-in {
  animation-delay: 0.5s;
  animation: fade-in 1.5s ease-in-out;
}

.text-gradient {
  @apply font-extrabold  text-transparent  bg-clip-text bg-gradient-to-r from-purple-400 to-blue-400;
}

.roll-in {
  animation: roll-in 1.75s ease-in-out;
}

@keyframes roll-in {
  0% {
    box-shadow: 0px 0px 0px 2.5rem rgb(96, 165, 250, 0.7);
    transform: translateX(-42.5rem) rotate(-360deg);
  }
  75% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.7);
    transform: translateX(0) rotate(0);
  }
  80% {
    box-shadow: 0px 0px 0px 5rem rgb(255, 255, 255, 1);
    transform: translateX(0) rotate(0);
  }
  100% {
    box-shadow: 0px 0px 0px 0rem rgb(96, 165, 250, 1);
    transform: translateX(0) rotate(0);
  }
}

@keyframes fade-in {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.loader-anim {
  animation: loader-anim 6s infinite;
}

@keyframes loader-anim {
  0% {
    color: rgb(253 224 71);
    transform: rotate(0deg) scale(1) translateX(0);
  }
  12.5% {
    color: rgb(255, 255, 255);
  }
  25% {
    color: rgb(37 99 235);
    transform: rotate(360deg) scale(1.75) translateX(0);
  }
  37.5% {
    color: rgb(255, 255, 255);
  }
  50% {
    color: rgb(253 224 71);
    transform: rotate(720deg) scale(1.5) translateX(5rem);
  }
  62.5% {
    color: rgb(255, 255, 255);
  }
  75% {
    color: rgb(37 99 235);
    transform: rotate(1080deg) scale(1) translateX(0);
  }
  87.5% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: rgb(253 224 71);
    transform: rotate(1440deg) scale(1) translateX(0);
  }
}
